#about
  .section
    %h1
      OUR STORY
    =image_tag("#{@asset_root}/images/michaelanie.jpg")
  .section{:style=>"float:left; width:50%; margin:0px;"}
    %h1
      MElANIE SO
    %p
      Melanie and Michael blah blah
  .section{:style=>"float:left; width:50%;"}
    %h1
      MICHAEL LIN
    %p
      BLAH LBHA
  .section
    [GALLERY GOES HERE]