#about
  .section
    %h1
      MELANIE+MICHAEL
    %p
      Once upon a time a long long time ago, 
      %span.purple
        dinosaurs roamed the earth.  
      They walked around and did normal dinosaur stuff until one day 66 million years ago an 
      %span.purple
        astroid crashed into the Yucatan Peninsula 
      and annihilated the vast majority of terrestrial life on Earth.  
      %span.purple
        Mammals rose 
      to fill the void, and they too walked around and did normal mammal stuff for a few more million years, which consisted mostly of digging around in the dirt and eating bugs.  
      %span.purple
        Eventually they invented the airplane.
      %br
      %br
      Nothing of much consequence happened after that until 1986, when 
      %span.purple
        Melanie and Michael were born.  
      For 16 years they walked around and did normal human stuff too until 2002, when they met, dated, watched movies,  
      %span.purple
        and fell in love.
      %br
      %br
      So maybe 
      %span.purple
        mass extinction events can cause good things too.  
      It just takes awhile
  .section.clearfix{:style=>"margin: 0px 0px 40px 0px;"}
    .left{:style=>"width:50%;"}
      %div
        %h1
          MELANIE ALLISON SO
        %p{:style=>"padding:0px 2px 0px 0px;"}
          %span.purple
            Melanie 
          is super nice.  She enjoys baking, martial arts, blah blah blah
    .right{:style=>"width:50%;"}
      %div
        %h1
          MICHAEL HUAITZER LIN
        %p{:style=>"padding:0px 0px 0px 2px;"}
          %span.purple
            Michael 
          is amazing.  He enjoys eating, napping, archery, and running and can usually be found doing some combination of those things

  .section
    .gallery.clearfix
      %div{:style=>"float:left; width:506px; height:256px; padding:3px;"}
        %div{:style=>"background-color:#484848; width:100%; height:100%;"}
      %div{:style=>"float:right; width:250px; height:256px; padding:3px;"}
        %div{:style=>"background-color:#484848; width:100%; height:100%;"}
      %div{:style=>"float:left; width:378px; height:384px; padding:3px;"}
        %div{:style=>"background-color:#484848; width:100%; height:100%;"}
      %div{:style=>"float:right; width:378px; height:384px; padding:3px;"}
        %div{:style=>"background-color:#484848; width:100%; height:100%;"}
      %div{:style=>"float:left; width:250px; height:256px; padding:3px;"}
        %div{:style=>"background-color:#484848; width:100%; height:100%;"}
      %div{:style=>"float:right; width:506px; height:256px; padding:3px;"}
        %div{:style=>"background-color:#484848; width:100%; height:100%;"}
