#about
  .section
    %h1
      MELANIE+MICHAEL
    %p
      Once upon a time dinosaurs roamed the earth.  They walked around and did normal dinosaur stuff until one day 66 million years ago an astroid crashed into the Yucatan Peninsula and annihilated the vast majority of terrestrial life on Earth.  Mammals rose to fill the void, and they too walked around and did  normal mammal stuff for a few more million years, which consisted mostly of digging around in the dirt and eating bugs.  Eventually they invented the airplane.
      %br
      %br
      Nothing of much consequence happened after that until June 6, 2002 when Melanie and Michael met, dated, and fell in love.  So mass extinctions can cause good things too.  It just takes time.
  .section.clearfix{:style=>"margin: 0px 0px 40px 0px;"}
    .left{:style=>"width:50%;"}
      %div
        %h1
          MELANIE ALLISON SO
        %p{:style=>"padding:0px 2px 0px 0px;"}
          %span.purple
            Melanie 
          loves Pixar, cockatiels, Gund bears, baking, chocolate, and baking things with chocolate.  She is a second degree black belt in Yong Mudo and Michael once saw her break four bricks with a palm strike.
          %br
          %br
          She currently works at Counsyl as an Accounting Manager.  She thinks Michael is disobedient, infuriating, and weird but has with a good heart.
    .right{:style=>"width:50%;"}
      %div
        %h1
          MICHAEL HUAITZER LIN
        %p{:style=>"padding:0px 0px 0px 10px;"}
          %span.purple
            Michael 
          loves Legos, owls, food, archery, and running and can usually be found doing some combination of those things.  He is slightly taller than Melanie and wishes he was best friends with David Attenborough.
          %br
          %br
          He currently works at Kabam as a Development Director on mobile games and thinks Melanie is the kindest and most beautiful person you will ever meet.

  .section
    .gallery.clearfix
      %div{:style=>"float:left; width:506px; height:256px; padding:3px;"}
        %div{:style=>"background-color:#484848; width:100%; height:100%;"}
      %div{:style=>"float:right; width:250px; height:256px; padding:3px;"}
        %div{:style=>"background-color:#484848; width:100%; height:100%;"}
      %div{:style=>"float:left; width:378px; height:384px; padding:3px;"}
        %div{:style=>"background-color:#484848; width:100%; height:100%;"}
      %div{:style=>"float:right; width:378px; height:384px; padding:3px;"}
        %div{:style=>"background-color:#484848; width:100%; height:100%;"}
      %div{:style=>"float:left; width:250px; height:256px; padding:3px;"}
        %div{:style=>"background-color:#484848; width:100%; height:100%;"}
      %div{:style=>"float:right; width:506px; height:256px; padding:3px;"}
        %div{:style=>"background-color:#484848; width:100%; height:100%;"}
      %div{:style=>"float:left; width:378px; height:384px; padding:3px;"}
        %div{:style=>"background-color:#484848; width:100%; height:100%;"}
      %div{:style=>"float:right; width:378px; height:384px; padding:3px;"}
        %div{:style=>"background-color:#484848; width:100%; height:100%;"}
