#info
  .section
    %h1
      WHEN
    %p
      %span.title
        September 6, 2014
      %br
      Guest should arrive by half past four in the afternoon 
      %span.purple
        4:30 PM 
      for the ceremony
      %br
      %br
      Dinner and dancing to follow
      %br
  .section
    %h1
      WHERE
    %p
      =link_to('Cinnabar Hills Golf Club', 'http://www.cinnabarhills.com/', :class=>'title')
      %br
      23600 McKean Road
      %br
      San Jose, CA 95141
      %br
      %br
      %iframe{ :src=>"https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3179.2987335862545!2d-121.751488!3d37.169370999999956!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x808e25b33f5a6939%3A0x1278219d99934af2!2sCinnabar+Hills+Golf+Club!5e0!3m2!1sen!2sus!4v1401086999507", :width=>"768", :height=>"580", :frameborder=>"0", :style=>"border:0"}
  .section
    %h1
      TRANSPORTATION
    %p
      We have chartered a shuttle which you are welcome to use.  Shuttles will depart from 
      %span.purple
        [LOCATION] 
      at
      %span.purple
        [TIME] 
      and will return at 
      %span.purple
        [TIME].  
      You will be responsible for finding your way home from the shuttle drop off point, so please remember to 
      %span.purple
        drive safely
  .section
    %h1
      WHAT TO WEAR
    %p
      Formal and semi-formal mean different things to different people, but the groomsmen will be wearing 
      %span.purple
        suits and ties 
      and the bridesmaids will be wearing 
      %span.purple
        cocktail dresses.  
      Please wear whatever will make you feel comfortable given those parameters.  Please keep in mind that the ceremony will be outdoors in the lovely (and hot) California sun, but the reception will be indoors with the pleasant (and powerful) air conditioning. Please wear whatever shoes make you comfortable
  .section
    %h1
      DINNER
    %p
      Once your invitation arrives you will be able to choose from several entrees.  Please let us know if you have any dietary restrictions and we will do our best to accomodate
      %div.clearfix
        .inline.left{:style=>"width:32%;"}
          %p
            %span.purple
              Rib-Eye Steak
            %br
            Rib-eye steak seared and served with red wine butter
        .inline{:style=>"width:32%;"}
          %p
            %span.purple
              Italian Stuffed Chicken
            %br
            Baked chicken breast stuffed with prosciutto, boursin, spinach, and sun-dried tomatoes served with a roasted garlic tomato cream sauce
        .inline.right{:style=>"width:32%;"}
          %p
            %span.purple
              Vegetable Risotto
            %br
            Risotto with mushrooms, tomatoes, spinach, garlic and parmesan cheese
      %p
        %span.purple
          Cake 
        will also be served because it is delicious.  
        =link_to("RSVP here", rsvp_url, :class=>"purple")
        to make your selection
  .section
    %h1
      ACCOMMODATIONS
    %p
      =link_to('Hyatt Regency Santa Clara', 'http://www.santaclara.hyatt.com/en/hotel/home.html', :class=>'title')
      %br
      5101 Great America Parkway
      %br
      Santa Clara, California, USA, 95054
      %br
      %p
        The hotel is offering 
        =link_to("$102 per night", "http://www.santaclara.hyatt.com/hyatt/reservations/roomsAndRates.jsp?language=en&xactionid=1473b6858fc&isFromHICBookingValidator=HIC&_requestid=1562481", :class=>"purple")
        if you prepay and agree to their no-cancellation policy, and 
        =link_to("Priceline is offering $103 per night.", "http://www.priceline.com/hotel/hotelOverviewGuide.do?propID=42673&refid=TMTRANSACT&sendId=17153582604&email_subject_line=Cheng-Yu%20Lee%20Trip%20to%20Santa%20Clara,%20CA%20on%20September%205,%202014&batchId=274806&refclickid=20140624%7C5%7COFFER%7CEMAIL_ITINERARY_INT%7CHOTEL_NAME&ea=47B74C833C5B7A20408A93E042570E37F1255085D23A20AF&utm_medium=email&utm_source=TM_HOTEL_EMAIL_ITINERARY_INT&utm_campaign=TM_HOTEL_EMAIL_ITINERARY_INT_17153582604", :class=>"purple")
        We also have an additional nine rooms blocked at $119 per night in case hotel prices increase or the hotel reaches full capacity. Please contact us to switch the hotel reservation to your name.
      %br
      %iframe{ :src=>"https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3169.3517101245866!2d-121.97659200000001!3d37.405161!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x808fc9c671bf5d63%3A0x41143de25661b172!2sHyatt+Regency+Santa+Clara!5e0!3m2!1sen!2sus!4v1405915084142", :width=>"768", :height=>"580", :frameborder=>"0", :style=>"border:0"}