#info
  .section
    %h1
      WHEN
    %p
      %span.title
        September 6, 2014
      %br
      The ceremony will begin at 
      %span.purple
        5 o'clock 
      in the afternoon
      %br
      %br
      Dinner and dancing to follow
  .section
    %h1
      WHERE
    %p
      =link_to('Cinnabar Hills Golf Club', 'http://www.cinnabarhills.com/', :class=>'title')
      %br
      23600 McKean Road
      %br
      San Jose, CA 95141
      %br
      %br
      %iframe{ :src=>"https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3179.2987335862545!2d-121.751488!3d37.169370999999956!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x808e25b33f5a6939%3A0x1278219d99934af2!2sCinnabar+Hills+Golf+Club!5e0!3m2!1sen!2sus!4v1401086999507", :width=>"600", :height=>"450", :frameborder=>"0", :style=>"border:0"}
  .section
    %h1
      TRANSPORTATION
    %p
      We have chartered a shuttle which you are welcome to use.  Shuttles will depart from [LOCATION] at [TIME] and will return at [TIME].  In either case 
      %span.purple
        please drive safely
  .section
    %h1
      WHAT TO WEAR
    %p
      Formal and semi-formal mean different things to different people, but the groomsmen will be wearing 
      %span.purple
        suits and ties 
      and the bridesmaids will be wearing 
      %span.purple
        evening dresses.  
      Please wear whatever will make you feel comfortable given those parameters
  .section
    %h1
      DINNER
    %p
      Once your invitation arrives you will be able to choose from several entrees.  Please let us know if you have any dietary restrictions and we will do our best to accomodate
      %div
        .inline.left{:style=>"width:33%;"}
          %p
            %span.purple
              Rib Eye Steak
            %br
            Served with red wine butter
        .inline{:style=>"width:33%;"}
          %p
            %span.purple
              Boursin Chicken
            %br
            Pan roasted chicken breast with a Boursin cheese and truffle oil sauce
        .inline.right{:style=>"width:33%;"}
          %p
            %span.purple
              Arborio Encrusted Corvina Sea Bass
            %br
            Pan seared corvina sea bass with Basquaise sauce
      %br
      %p
        %span.purple
          Cake 
        will also be served because it is 
        %span.purple
          delicious
  .section
    %h1
      ACCOMMODATIONS
    %p
      =link_to('Hilton Garden Inn Cupertino', 'http://hiltongardeninn3.hilton.com/en/hotels/california/hilton-garden-inn-cupertino-SJCCHGI/index.html', :class=>'title')
      %br
      10741 N Wolfe Rd
      %br
      Cupertino, CA 95041
      %br
      %br
      %iframe{ :src=>"https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3172.3835229155943!2d-122.01489699999999!3d37.333427999999934!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x808fb59624fe9067%3A0xe16c8a914e077602!2sHilton+Garden+Inn+Cupertino!5e0!3m2!1sen!2sus!4v1401087541925", :width=>"600", :height=>"450", :frameborder=>"0", :style=>"border:0"}  