#info
  .section
    %h1
      WHEN
    %p
      September 6, 2014
      %br
      %br
      Ceremony @ 
      %br
      Reception @
  .section
    %h1
      WHERE
    %p
      Cinnabar Hills Golf Club
      %br
      23600 McKean Road
      %br
      San Jose, CA 95141
      %br
      %br
      =link_to('http://www.cinnabarhills.com/', 'http://www.cinnabarhills.com/')
      %br
      %br
      %iframe{ :src=>"https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3179.2987335862545!2d-121.751488!3d37.169370999999956!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x808e25b33f5a6939%3A0x1278219d99934af2!2sCinnabar+Hills+Golf+Club!5e0!3m2!1sen!2sus!4v1401086999507", :width=>"600", :height=>"450", :frameborder=>"0", :style=>"border:0"}
  .section
    %h1
      ACCOMMODATIONS
    %p
    
