#photos
  .section
    %h1
      PHOTOBOOTH
    %p
      %span.title
        Wild About You Photography
      %br
      Special thanks to Chris and Lily from Wild About Your Photography for photographing our special day.  Photos from the photobooth are at:
      %br
      %br
      =link_to('Wildbooth Photos', 'http://gallery.wildaboutyouphotography.com/guestlogin/melanieandmikeswildbooth/', :class=>'purple')
      %br
      Password: MMTugs
  .section
    %h1
      CEREMONY
    %p.gallery
      =render_gallery_for @ceremony_images, list_tag: :div, item_tag: :span, item_class: :thumbnail

  .section
    %h1
      RECEPTION
    %p.gallery
      =render_gallery_for @reception_images, list_tag: :div, item_tag: :span, item_class: :thumbnail