#registry
  %h1
    REGISTRY
  %p
    We have created registries 
    at the following online retailers.
    %br
    %br
    Thank you for your generous gift!  
    %span.purple
      100% of proceeds 
    will be donated to disadvantaged Michaels and Melanies in the Bay Area
  .section.center
    =link_to image_tag("#{@asset_root}/images/registry/amazon.jpg"), @amazon_registry_url
    =link_to image_tag("#{@asset_root}/images/registry/crate.jpg"), @crate_registry_url
