#rsvp
  .section
    %h1
      RSVP
    %p
      Your RSVP has been 
      %span.purple
        successfully
      submitted!
    .area
      %p
        =label_tag :name, "NAME"
        ="Name"
      %p
        =label_tag :email, "EMAIL"
        ="Email"
      %p
        =label_tag :entree, "ENTREE"
        ="Entree"
      %p
        =label_tag :shuttle, "SHUTTLE"
        ="Shuttle"
      %p
        =label_tag :other, "OTHER"
        ="Other"