#rsvp
  .section
    %h1
      RSVP
    %p
      ="Please submit your RSVP information using the form below"
    %p.errors
      -@rsvp.errors.full_messages.each do |message|
        ="-#{message}"
        %br
    =form_for @rsvp do |f|
      .area
        =f.label :name, "NAME"
        %div
          =f.text_field :name, :size=>100, :maxlength=>100, :style=>"width:100%"
      .area
        =f.label :email, "EMAIL"
        %div
          =f.text_field :email, :size=>100, :maxlength=>100, :style=>"width:100%"
      .entrees.area.clearfix
        =f.label :entree, "ENTREE"
        .clearfix
          .choice{:class=>"unselected"}
            .title
              ="RIB-EYE STEAK"
            .description
              ="Seared rib-eye steak with red wine butter"
            .checkbox
              =f.radio_button :entree, "steak"
          .choice{:class=>"unselected"}
            .title
              ="BOURSIN CHICKEN"
            .description
              ="Pan roasted chicken breast with a Boursin cheese and truffle oil sauce"
            .checkbox
              =f.radio_button :entree, "chicken"
          .choice{:class=>"unselected"}
            .title
              ="VEGETABLE RISOTTO"
            .description
              ="Risotto with mushrooms, tomatoes, spinach, garlic and parmesan cheese"
            .checkbox
              =f.radio_button :entree, "vegetarian"
      .shuttle.area.clearfix
        =f.label :shuttle, "SHUTTLE"
        %p
          ="There will be a shuttle departing from the Hilton Garden Inn in Cupertino at XX.  The shuttle will leave Cinnabar Hills at XX and arrive at the hotel at XX.  Will you be using the shuttle?"
        .clearfix
          .choice{:class=>"unselected"}
            .title
              ="YES"
            .checkbox
              =f.radio_button :shuttle, true
          .choice{:class=>"unselected"}
            .title
              ="NO"
            .checkbox
              =f.radio_button :shuttle, false
      .other.area
        =f.label :other, "SPECIAL REQUESTS"
        %p
          ="If you have any special requests such as allergies or deitary restrictions, please let us know and we will try our best to accommodate"
        .center
          =f.text_area :other, :size=>"108x10"
      
      .area
        =f.submit "RSVP", :class=>"submit"