#rsvp
  .section
    %h1
      RSVP
    %p
      Your RSVP has been 
      %span.purple
        successfully
      submitted!
    %table.area
      %tr
        %td
          =label_tag :name, "NAME"
        %td
          =@rsvp[:name]
      %tr
        %td
          =label_tag :email, "EMAIL"
        %td
          =@rsvp[:email]
      %tr
        %td
          =label_tag :entree, "ENTREE"
        %td
          =@rsvp[:entree]
      %tr
        %td
          =label_tag :shuttle, "SHUTTLE"
        %td
          =@rsvp[:shuttle]
      %tr
        %td
          =label_tag :other, "OTHER"
        %td
          =@rsvp[:other]