/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

$page_width: 768px;
$min_page_width: #{$page_width};

@font-face{
	font-family: 'Lato';
	src: url('/fonts/lato/Lato-Reg.ttf');
}

@font-face{
	font-family: 'Rosario';
	src: url('/fonts/rosario/Rosario-Regular.otf');
}

a{
	color: #808080;
	cursor: pointer;
	font-family: 'Rosario';
	text-decoration: none;
	&:hover{
		color: #000000;
	}
}

h1{
	background-color: #484848;
	border: 0px;
	color: #ffffff;
	font-family: 'Rosario';
	font-size: 16px;
	margin: 0px;
	padding: 5px 10px 5px 10px;
}

img{
	border: 0px;
}

p{
	color: #484848;
	font-family: 'Lato';
	font-size: 16px;
	text-align: left;
	
	.title{
		color: #9272cc;
		font-size: 18px;
	}
}

div{
	border: 0px;
	cursor: default;
	margin: 0px;
	padding: 0px;
}

html, body{
	background-repeat: no-repeat;
	background-size: cover;
	border: 0px;
	height: 100%;
	margin: 0px;
	width: #{$min_page_width};
	min-width: #{$page_width};
	padding: 0px;
	width: 100%;

	::selection{
		background-color: #9272cc;
		color: #ffffff;
	}
	::-moz-selection{
		background-color: #9272cc;
		color: #ffffff;
	}
}

.gray{color: #808080;}
.darkgray{color: #484848;}
.purple{color: #9272cc;}

.center{ text-align: center; }
.left{ float: left; }
.right{ float: right }
.bold{ font-weight: bold; }
.inline{ display: inline-block; }

.clearfix{ display: inline-block; }
.clearfix:after{
    clear: both;
    content: " ";
    display: block;
    font-size: 0;
    height: 0;
    visibility: hidden;
}

.indent{
	text-indent: 20px;
}

.section{
	margin: 0px 0px 75px 0px;
}

#header{
	text-align: center;
	padding: 60px 0px 60px 0px;
	a{
		font-size: 18px;
		font-weight: normal;
	}

	.spacer{
		width: 54px;
	}

	.selected{
		color: #9272cc;
		cursor: default;
		pointer-events: none;
	}
}

#scene{
	width: #{$page_width};
	min-width: #{$min_page_width};
	margin: 0px auto;
	padding: 0px 0px 60px 0px;
}

#about{
	.michaelanie{
		width: 100%;
	}
	
	.gallery{
		text-align: center;
		.divider{
			width: 764px;
			height: 508px;
		}
		.split{
			height: 350px;
		}
		img{
			float:left;
			display: inline-block;
			border: 0px;
			margin: 0px;
			padding: 2px;
		}
	}
}

#home{
	img{
		width: 100%;
	}
}

#info{
}

#registry{
	img{
		margin: 30px 0px 30px 0px;
	}
}

#rsvp{
}