!!! html
%html
  %head
    %title
      =@app_title
    =stylesheet_link_tag    "application", media:"all", "data-turbolinks-track"=>true
    =javascript_include_tag "application", "data-turbolinks-track"=>true
    =csrf_meta_tags
  %body
    #header
      =link_to('HOME', home_url, :class=>is_tab_selected?('home'))
      .inline.spacer
      =link_to('MELANIE+MICHAEL', about_url, :class=>is_tab_selected?('about'))
      .inline.spacer
      =link_to('PHOTOS', photos_url, :class=>is_tab_selected?('photos'))
      .inline.spacer
      =link_to('OUTTAKES', outtakes_url, :class=>is_tab_selected?('outtakes'))
      .inline.spacer
      =link_to('CONTACT', contact_url, :class=>is_tab_selected?('contact')) 
    #scene
      =yield