!!! html
%html
  %head
    %title
      =@app_title
    =stylesheet_link_tag    "application", media:"all", "data-turbolinks-track"=>true
    =javascript_include_tag "application", "data-turbolinks-track"=>true
    =csrf_meta_tags
  %body
    #header
      =link_to('HOME', home_url)
      =link_to('MELANIE+MICHAEL', about_url, :class=>'purple')
      =link_to('INFO', info_url)
      =link_to('RSVP', rsvp_url)
      =link_to('REGISTRY', @registry_url)
      =mail_to(@email, 'CONTACT') 
    #scene
      =yield