!!! html
%html
  %head
    %title
      =@app_title
    =stylesheet_link_tag    "application", media:"all", "data-turbolinks-track"=>true
    =javascript_include_tag "application", "data-turbolinks-track"=>true
    =csrf_meta_tags
  %body
    .navigation
      =link_to("Melanie+Michael")
      =link_to("Wedding Party")
      =link_to("Info")
      =link_to("RSVP")
      =link_to("Registry")
      =link_to("Contact Us")
    =yield